/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2020, 12:24:13 AM
    Author     : mdegembe
*/
.form-item-pivot-value,
.form-item-pivot-format{
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-item-pivot-format{
    margin-left: 20px;
}

#value-date1-infos,
#value-date2-infos{
    border: 1px dotted grey;
    padding: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
#pivot-shortcodeh1{
    margin-top: 50px;
    margin-bottom: 25px;
}

